@use '../utilities/variables' as var;

.aboutContainer {
  @include var.basic-flex-container-column;
  justify-content: flex-start;
  height: 50vh;
  width: 80%;

  @include var.mobileView {
    height: 130vh;
    width: 90%;
  }

  .header {
    @include var.section-header;
  }

  .contentContainer {
    // border: 1px solid black;
    width: 95%;

    p {
      font-size: var.$text-font-size-medium;
      font-family: var.$font-style-icons;

      @include var.mobileView {
        font-size: var.$text-font-size-mobile;
      }
    }
  }
}
