@use '../utilities/variables' as var;

.homePageContainer {
  @include var.basic-flex-container-row;
  height: 90vh;
  font-family: var.$font-style-main;

  .textContainer {
    @include var.basic-flex-container-column;
    align-items: flex-start;
    width: 60%;
    height: 50%;

    h1 {
      font-size: var.$heading-font-size-medium;
      color: var.$heading-color-one;
      margin: 0%;
    }

    p {
      font-size: var.$text-font-size-medium;
      width: 90%;

      span {
        color: var.$span-color-one;
      }
    }
  }

  .linkContainer {
    a {
      color: black;
      cursor: pointer;
      font-size: 2rem;
      padding: 4px 8px;

      &:hover {
        opacity: 50%;
      }
    }
  }
}
