@use '../utilities/variables' as var;

.projectsContainer {
  @include var.basic-flex-container-column;
  // height: 100vh;
  width: 80%;

  @include var.mobileView {
    width: 90%;
  }

  .header {
    @include var.section-header;
  }

  .projectWrapper {
    @include var.basic-flex-container-column;
    // border: 1px solid black;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    margin: 16px;
    font-family: var.$font-style-second;

    @include var.mobileView {
      width: 100%;
    }

    h1 {
      font-size: var.$heading-font-size-small;
      margin: 0%;

      @include var.mobileView {
        font-size: var.$heading-font-size-mobile;
      }
    }

    .innerWrapper {
      @include var.basic-flex-container-row;
      width: 100%;

      @include var.mobileView {
        @include var.basic-flex-container-column;
      }

      .contentLeft {
        width: 40%;

        @include var.mobileView {
          @include var.basic-flex-container-row;
          width: 100%;
        }

        img {
          width: 400px;
          border-radius: 20px;

          @include var.mobileView {
            width: 200px;
          }
        }
      }

      .contentRight {
        width: 60%;
        font-size: var.$link-font-size;

        @include var.mobileView {
          font-size: var.$text-font-size-mobile;
          width: 100%;
        }

        @include var.mobileView {
          width: 100%;
        }

        .techsList {
          text-transform: bulletpoints;
        }
      }
    }

    a {
      font-size: var.$link-font-size;
      text-decoration: none;
      color: black;

      @include var.mobileView {
        font-size: var.$text-font-size-mobile-bigger;
      }

      &:hover {
        opacity: 50%;
      }
    }
  }
}
