@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Titillium+Web&display=swap");

//COLORS
$heading-color-one: #000;
$heading-color-white: #fff;
$background-color-light: #ededed;
$background-color-dark: #484848;
$span-color-one: #218622;
$span-color-light: #26d728;
//HEADING
$heading-font-size-small: 3rem;
$heading-font-size-medium: 4rem;
//TEXTS
$text-font-size-small: 1.2rem;
$text-font-size-medium: 2.2rem;
$font-style-main: "Noto Sans JP", sans-serif;
$font-style-second: "Titillium Web", sans-serif;
$font-style-icons: "Nunito", sans-serif;
//MISC
$icon-font-size: 5rem;
$link-font-size: 1.5rem;
//MOBILE
$text-font-size-mobile: 1.2rem;
$text-font-size-mobile-smaller: 1rem;
$text-font-size-mobile-footer: 0.9rem;
$text-font-size-mobile-bigger: 1.5rem;
$heading-font-size-mobile: 2.5rem;
$text-font-size-nav-mobile: 1.1rem;
$icon-font-size-mobile: 3rem;

//MIXINS
@mixin basic-flex-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin basic-flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin section-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px solid black;
  font-family: $font-style-second;

  h1 {
    margin: 0%;
    font-family: $font-style-second;
    font-size: $heading-font-size-small;
    color: $span-color-one;

    @include mobileView() {
      font-size: $heading-font-size-mobile;
    }
  }
}

//FOR MOBILE
@mixin mobileView {
  @media (max-width: 500px) {
    @content;
  }
}

//For small screens
@mixin laptopLView {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin laptopView {
  @media (max-width: 1024px) {
    @content;
  }
}
