@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

$heading-color-one: #000;
$heading-color-white: #fff;
//HEADING
$heading-font-size-small: 3rem;
$heading-font-size-medium: 4rem;
//TEXTS
$text-font-size-small: 1.2rem;
$text-font-size-medium: 2.2rem;

$font-style-main: "Noto Sans JP", sans-serif;

//MIXINS
@mixin basic-flex-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin basic-flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin circle-base {
  border-radius: 50%;
}
