@use 'utilities/variables' as var;

//SASS Components here
@use 'components/homePage';
@use 'components/skills';
@use 'components/about';

body {
  margin: 0%;
  padding: 0%;
  background-color: var.$background-color-one;
  box-sizing: border-box;
}

.pageContainer {
  @include var.basic-flex-container-column;
}
