@use "utilities/variables" as var;

//SASS Components here
@use "components/homePage";
@use "components/skills";
@use "components/about";
@use "components/navbar";
@use "components/projects";
@use "components/contact";
@use "components/footer";

body {
  margin: 0%;
  padding: 0%;
  background-color: var.$background-color-light;
  box-sizing: border-box;
}

//When its dark-theme
.darkTheme {
  margin: 0%;
  padding: 0%;
  background-color: var.$background-color-dark;
  box-sizing: border-box;
  color: #dfdfdf;

  .pageContainer {
    .homePageContainer {
      .textContainer {
        p {
          span {
            color: var.$span-color-light;
          }
        }
      }
      h1 {
        color: #dfdfdf;
      }

      .linkContainer {
        a {
          color: #dfdfdf;

          &:hover {
            color: var.$span-color-one;
          }
        }
      }
    }
  }

  .aboutContainer {
    .header {
      h1 {
        color: var.$span-color-light;
      }
    }
  }
  .skillsContainer {
    .header {
      h1 {
        color: var.$span-color-light;
      }
    }
  }
  .projectsContainer {
    .header {
      h1 {
        color: var.$span-color-light;
      }
    }
    .projectWrapper {
      a {
        color: #dfdfdf;
      }
    }
  }

  .footer {
    background-color: #8e8e8e;
    color: #dfdfdf;

    .linksWrapper {
      a {
        color: #dfdfdf;
      }
    }
  }
}

.pageContainer {
  @include var.basic-flex-container-column;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
